<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
</head>
<link rel="stylesheet" type="text/css" href="../style/site.css">

<body style="background-color: #333232;">


    <link rel="stylesheet" type="text/css" href="../style/headerStyle.css">
    <script src="../scripts/dropdownTouch.js"></script>
    <!-- HEADER CODE -->
    <div class="dropdown">
        <button onclick="makeTouchScreenWork()" class="dropbtn">
            Menu
        </button>
        <div id="submenu" class="dropdown-content">
            <a href="../index.html">Home</a>
            <a href="#">Education</a>
            <a href="work.html">Work Experience</a>
            <a href="#">Skills & Achievements</a>
            <a href="contact.html" class="active">Contact</a>
        </div>
    </div>
    <div class="navbar">
        <div>
            <img src="../content/cb_logo_white.png" class="my_head_image" />
        </div>
        <a></a>
        <a></a>
        <a href="../index.html">Home</a>
        <a href="../views/test.html">Education</a>
        <a href="work.html">Work Experience</a>
        <a href="../views/test.html">Skills & Achievements</a>
        <a href="../views/contact.html" class="active">Contact</a>
    </div>
    <!-- HEADER CODE -->

    <!--CONTENT CODE-->
    <h1 style="color:white; padding-left:5%">My Contact Information</h1>
    <hr style="width:80%; padding-left:10% " />
    <div style="width:80%; padding-left:8%;">

        <br />
        <div>
            <address style="color:white">
            <strong>Email:</strong> <a href="mailto:cbartal@vt.edu" style="color: #55ACEE">cbartal@vt.edu</a><br />
            <strong>Phone: 804-445-4352</strong> 
        </address>


            <h3 style="color:white;">Social Media</h3>
            <strong style="color:white;">Facebook</strong> <a href="https://www.facebook.com/ConnorBartal" style="color: #55ACEE" target="_blank">Connor Bartal</a>
            <br />
            <strong style="color:white;">Instagram</strong> <a href="https://www.instagram.com/cbartal" style="color: #55ACEE" target="_blank">cbartal</a>
            <br />
            <strong style="color:white;">Twitter</strong> <a href="https://www.twitter.com/connor_bartal" style="color: #55ACEE" target="_blank">Connor_Bartal</a>
            <br />
            <strong style="color:white;">LinkedIn</strong> <a href="https://www.linkedin.com/in/connorbartal/" style="color: #55ACEE" target="_blank">Connor Bartal</a>
        </div>
    </div>


    <!--CONTENT CODE-->
</body>

</html>