<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills and Achievements</title>
</head>
<link rel="stylesheet" type="text/css" href="../style/site.css">

<body class="example" style="width: 100%; position: absolute; left: 0px; margin: 0; padding: 0; background-color: #333232; overflow-x: hidden;">
    <!-- HEADER CODE -->
    <link rel="stylesheet" type="text/css" href="../style/headerStyle.css">
    <script src="../scripts/dropdownTouch.js"></script>
    <div class="dropdown">
        <button onclick="makeTouchScreenWork()" class="dropbtn">
            Menu
        </button>
        <div id="submenu" class="dropdown-content">
            <a href="../index.html">Home</a>
            <a href="#">Education</a>
            <a href="../views/work.html">Work Experience</a>
            <a href="../views/skills.html" class="active">Skills & Achievements</a>
            <a href="../views/contact.html">Contact</a>
        </div>
    </div>
    <div class="navbar">
        <div>
            <img src="../content/cb_logo_white.png" class="my_head_image" />
        </div>
        <a></a>
        <a></a>
        <a href="../index.html">Home</a>
        <a href="../views/test.html">Education</a>
        <a href="../views/work.html">Work Experience</a>
        <a href="../views/skills.html" class="active">Skills & Achievements</a>
        <a href="../views/contact.html">Contact</a>
    </div>
    <!-- HEADER CODE -->
    <!--CONTENT CODE-->
    <script src="../scripts/skills.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/skills.css">
    <br><br><br><br><br><br>
    <div class="wrapper">
        <div class="first topBar" id="skillsBar">
            <div id="skillsText" style="width: 60%;">
                <h1>Skills</h1>
                <hr>
                <table>
                    <tr>
                        <td>
                            <ul>
                                <li>Proficient in Microsoft Office</li>
                                <li>Java Programming</li>
                                <li>Python Programming</li>
                                <li>C Programming</li>
                                <li>C# Programming</li>
                                <li>HTML/Web Design</li>
                                <li>Basic Oracle and Database Knowledge</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Project Management</li>
                                <li>Leadership</li>
                                <li>Communication</li>
                                <li>Technical Writing</li>
                                <li>ServiceNow Administration</li>
                                <li>Photoshop and Graphic Design</li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <hr>
                <br>
                <p align="left">
                    I have considerable Graphic Design experience. I sat as the Graphic Design Director for the Virginia Tech Union for a year, later moving up to become Vice President of Communcation.
                    More information about what the Virginia Tech Union is, my involvement with them, as well as a showcase of all the work I produced can be found by clicking the image to the right.
                    I still enjoy doing graphic design, so if you would like to reach out to me in regards to graphic work, please feel free to contact me through any of the means listed under the 'Contact' page above!
                </p>
                <br>
            </div>
        </div>
        <img id="skillsImage" src="../content/DSB_7894.jpg" class="topImage">
    </div>
    <img id="skillsFullImage" src="../content/DSB_7894.jpg" class="topImageFull" >
</body>

</html>