<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Experience</title>
</head>
<link rel="stylesheet" type="text/css" href="../style/site.css">

<body style="background-color: #333232;">
    <link rel="stylesheet" type="text/css" href="../style/headerStyle.css">
    <script src="../scripts/dropdownTouch.js"></script>
    <!-- HEADER CODE -->
    <div class="dropdown">
        <button onclick="makeTouchScreenWork()" class="dropbtn">
            Menu
        </button>
        <div id="submenu" class="dropdown-content">
            <a href="../index.html">Home</a>
            <a href="#">Education</a>
            <a href="work.html" class="active">Work Experience</a>
            <a href="#">Skills & Achievements</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <div class="navbar">
        <div>
            <img src="../content/cb_logo_white.png" class="my_head_image" />
        </div>
        <a></a>
        <a></a>
        <a href="../index.html">Home</a>
        <a href="../views/test.html">Education</a>
        <a href="work.html" class="active">Work Experience</a>
        <a href="../views/test.html">Skills & Achievements</a>
        <a href="contact.html">Contact</a>
    </div>
    <!-- HEADER CODE -->

    <!--CONTENT CODE-->
    <link rel="stylesheet" type="text/css" href="../style/workStyle.css">
    <div>
        <h1 style="color:white; padding-left:5%; font-size: 35pt;">Work Experience</h1>
        <hr style="width:80%; padding-left:10% " />
    </div>
    <br>
    <div style="position: absolute; left: 0px; width: 100%; overflow-x: hidden;">

        <div class="fullPageBar barOne">
            <h3 class="work_page_subtitle">Naval Information Warfare Center Atlantic</h3>
            <div class="work_page_text" style="color:white">
                <ul>
                    <li>Summer Intern: May 2020 - August 2020</li>
                    <li>TBD</li>
                    <li>TBD</li>
                    <li>TBD</li>
                    <li>TBD</li>
                </ul>
                <br />
            </div>
        </div>


    </div>

    <!--CONTENT CODE-->
</body>

</html>