<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Experience</title>
</head>
<link rel="stylesheet" type="text/css" href="../style/site.css">

<body style="background-color: #333232; overflow-x: hidden;">
    <link rel="stylesheet" type="text/css" href="../style/headerStyle.css">
    <script src="../scripts/dropdownTouch.js"></script>
    <!-- HEADER CODE -->
    <div class="dropdown">
        <button onclick="makeTouchScreenWork()" class="dropbtn">
            Menu
        </button>
        <div id="submenu" class="dropdown-content">
            <a href="../index.html">Home</a>
            <a href="#">Education</a>
            <a href="work.html" class="active">Work Experience</a>
            <a href="#">Skills & Achievements</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
    <div class="navbar">
        <div>
            <img src="../content/cb_logo_white.png" class="my_head_image" />
        </div>
        <a></a>
        <a></a>
        <a href="../index.html">Home</a>
        <a href="../views/test.html">Education</a>
        <a href="work.html" class="active">Work Experience</a>
        <a href="../views/test.html">Skills & Achievements</a>
        <a href="contact.html">Contact</a>
    </div>
    <!-- HEADER CODE -->

    <!--CONTENT CODE-->
    <link rel="stylesheet" type="text/css" href="../style/workStyle.css">
    <div class="indexcontent example"
        style="position:absolute; left:0; top:0; z-index:3; overflow-y:auto; overflow-x:hidden; height:100%; width:100%">
        <br><br>
        <h1 style="color:white; padding-left:5%; font-size: 50px;">Work Experience</h1>
        <hr style="width:80%; padding-left:10% " />
        <br><br>
        <div>
            <div class="wrapper barOne">
                <div class="first">
                    <br>
                    <h2 class="work_page_sub_title">
                        Naval Information Warfare Center
                    </h2>
                    <hr>
                    <ul>
                        <li>Summer Intern: May 2020 - August 2020</li>
                        <li>TBD</li>
                        <li>TBD</li>
                        <li>TBD</li>
                        <li>TBD</li>
                    </ul>
                </div>
                <div id="niwcImage" class="second">
                    <img id=nwic class="work_image_niwc" src="../content/niwc.png" />
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/adjustWork.js"></script>
    <!--CONTENT CODE-->
</body>

</html>